.App {
  text-align: center;
}

h1.text-monster{
  font-family: 'Bigelow Rules', Algerian, sans-serif;
  color: #95dada;
  font-size: 3.5em;
}

.not-found{
  display: block;
  text-align: center;
  color: #95dada;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}